.card-img {
  border-radius: 0;
}

.card-img-body {
    width: 400px;

  }

  .card-img {
    width: 100%;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);

  }
  .text-div{
    width: 500px;
  }